.pays-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background-color: rgb(33, 46, 55);
}

.pays-wrapper {
  display: flex;
  justify-content: center;
  gap: 200px;
  max-width: 1000px;
  width: 100%;
}

.left-column {
  flex: 0 1 300px;
  text-align: center;
}

.left-column img {
  width: 100%;
  width: 500px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.right-column {
  color: white;
  flex: 0 1 500px;
}

.info-block {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-block strong {
  width: 150px;
  background-color: rgb(0, 123, 255);
  padding: 0.5rem;
  border-radius: 8px;
  color: black;
}

.info-block span {
  flex: 1;
}

button {
  margin: 0.2rem;
  padding: 0.3rem 0.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px){
    .pays-details {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    background-color: rgb(33, 46, 55);
    }

    .pays-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    width: 100%;
    }
    .left-column img {
    width: 100%;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    }

}
@media (max-width: 426px){
    .pays-details {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    background-color: rgb(33, 46, 55);
    }

    .pays-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    width: 100%;
    }
    .left-column img {
    width: 100%;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    }
}