#header{
    background-color: rgb(255, 255, 255);
    border-bottom: 2px rgba(128, 128, 128, 0.233) solid;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22.5px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 1%;
}
.carte-link{
    text-decoration: none;
    color: black;
}
#darkmode{
    border: none;
    background: transparent;
    font-size: 12.5px;
    cursor: pointer;
    margin-top: -1%;
}
#gestion{
    align-items: center;
    padding-left: 2.5%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
    padding-top: 2.5%;
    flex-wrap: wrap;
}
#Tri{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 100%;
}
@media (max-width:715px){
    #gestion{
        display: flex;
        flex-direction: column;
    }
}
#pays{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    
}
#image{
    height: 250px;
    width: 374px;
    border-bottom: 0.5px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#leMap{
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      margin-bottom: 5%;
      border-radius: 10px;
      width: 378px;
}
#pays{
    display: flex;
    justify-content: center;
    gap: 2.5%;
}

#leMap p{
    margin-left: 5%;
}
#bg{
    background-color: rgb(250, 250, 250)
}
#acceuil-btn {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e0ffe0;
    border: 1px solid #5cb85c;
    color: #2b662b;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#acceuil-btn:hover {
    background-color: #8bd8ac;
}
#bloc-txt{
    height: 100px;
    align-items: center;
    display: flex;
}
#btn-voir-fav:hover{
    background-color: #8bd8ac;
}
#btn-voir-fav{
    transition: 0.3s ease;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e0ffe0;
    border: 1px solid #5cb85c;
    color: #2b662b;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#Tri{
    flex-direction: column;
    gap: 0px;
}