.nav-item{
    font-weight: 500;
}
.dropdown-item{
    font-weight: 500;
}

#tri{
    width: 200px;
    position: relative;
    transform: translateX(-30px);
}
@media (max-width:715px){
    #tri{
    position: relative;
    transform: translateX(-0px);
    width: 130px;
}
}